
.HanziPad canvas,
.HanziPad .optionList
{
	/*  Prevent selecting text at all cost, at least until this is fixed: */
	/*  https://gitlab.gnome.org/GNOME/gtk/issues/1080  */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.HanziPad .optionList
{
	margin: 0;
	padding: 0;
	max-height: 114px;
	overflow-y: hidden;
}
.HanziPad .optionList li
{
	list-style: none;
	float: left;
	width: 40px;
	padding: 5px 3px;
	text-align: center;
	height: 48px;
}
.HanziPad .optionList li.undo
{
	background-color: #DE4A4A;
}
.HanziPad .optionList li.undo.nope
{
	background-color: #D8D6D6;
	color: #939191;
}
.HanziPad .optionList li.active
{
	background-color: #7B99DD;
}
.HanziPad .optionList li.queued
{
	background-color: #176A1D;
	color: #fff;
}
.HanziPad .optionList li span
{
	display: block;
	font-size: 16px;
	line-height: 18px;
}
.HanziPad .optionList li span.glyph
{
	font-size: 30px;
	line-height: 30px;
	font-family: serif;
}





.HanziPadMinigame.loading
{
	background: repeating-linear-gradient(
		30deg,
		#ddd,
		#ddd 10px,
		#eee 10px,
		#eee 20px
	);
}
.HanziPadMinigame.loading .current-challenge
{
	color: #999;
}
.HanziPadMinigame .previous-answer
{
	margin: 15px 5px;
	font-size: 32px;
	line-height: 28px;
	font-weight: normal;
	font-family: serif;
}
.HanziPadMinigame .previous-answer .correct      { color: #1FC92B; }
.HanziPadMinigame .previous-answer .wrong        { color: #C9231F; }
.HanziPadMinigame .previous-answer .youanswered  { color: #9C9C9C; font-size: 80%; }
.HanziPadMinigame .current-challenge .current-hint
{
	font-weight: normal;
}

