
.HanziPad .optionList
{
	margin: 0;
	padding: 0;
	max-height: 114px;
	overflow-y: hidden;
}
.HanziPad .optionList li
{
	list-style: none;
	float: left;
	width: 40px;
	padding: 5px 3px;
	text-align: center;
	height: 48px;
}
.HanziPad .optionList li.undo
{
	background-color: #DE4A4A;
}
.HanziPad .optionList li.undo.nope
{
	background-color: #D8D6D6;
	color: #939191;
}
.HanziPad .optionList li.active
{
	background-color: #7B99DD;
}
.HanziPad .optionList li span
{
	display: block;
	font-size: 16px;
	line-height: 18px;
}
.HanziPad .optionList li span.glyph
{
	font-size: 30px;
	line-height: 30px;
	font-family: serif;
}


